@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #d1d5db;
        border-radius: 100vh;
        border: 3px solid white;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #9ca3af;
    }

    .scrollbar-notifcations {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;
    }
    .scrollbar-notifcations::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
}
